 .u-section-1 {
  background-image: url("images/nn.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1134px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 573px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 161px 28px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 20px 32px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  text-align: center;
  font-weight: 700;
  border-style: solid;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 0 0;
  padding: 20px 47px 20px 46px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 573px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-1 .u-image-1 {
  width: 564px;
  height: 437px;
  margin: 30px 0 0 auto;
}

.u-section-1 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 9px) calc(25% - 9px) calc(25% - 9px) calc(25% - 9px);
  min-height: 461px;
  grid-gap: 12px 12px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-3 {
  padding: 46px 17px 30px;
}

.u-section-1 .u-icon-1 {
  height: 70px;
  width: 70px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 159px 0 13px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 13px 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.9375rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-4 {
  padding: 46px 17px 30px;
}

.u-section-1 .u-icon-2 {
  height: 70px;
  width: 70px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 159px 0 13px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 13px 0;
}

.u-section-1 .u-text-6 {
  font-size: 0.9375rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-5 {
  padding: 46px 17px 30px;
}

.u-section-1 .u-icon-3 {
  height: 70px;
  width: 70px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 159px 0 13px;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 13px 0;
}

.u-section-1 .u-text-8 {
  font-size: 0.9375rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-6 {
  padding: 46px 17px 30px;
}

.u-section-1 .u-icon-4 {
  height: 70px;
  width: 70px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 159px 0 13px;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 13px 0;
}

.u-section-1 .u-text-10 {
  font-size: 0.9375rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1014px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 362px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 32px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 0% 50%;
    min-height: 583px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 9px));
    min-height: 377px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 447px;
  }

  .u-section-1 .u-image-1 {
    width: 444px;
    height: 344px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 6px));
    min-height: 513px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1070px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 544px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 343px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 263px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 98px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 98px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 98px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 98px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 569px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 70px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 645px;
  margin: 22px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: -11px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 327px;
  grid-gap: 10px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 4px 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 70px 4px 0;
}

.u-section-2 .u-shape-1 {
  width: 56px;
  height: 56px;
  margin: 37px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 4px 0;
}

.u-section-2 .u-text-5 {
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 70px 4px 0;
}

.u-section-2 .u-shape-2 {
  width: 56px;
  height: 56px;
  margin: 37px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 4px 0;
}

.u-section-2 .u-text-7 {
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 70px 4px 0;
}

.u-section-2 .u-shape-3 {
  width: 56px;
  height: 56px;
  margin: 37px auto 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 4px 0;
}

.u-section-2 .u-text-9 {
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 70px 4px 0;
}

.u-section-2 .u-shape-4 {
  width: 56px;
  height: 56px;
  margin: 37px auto 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 18px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 1028px;
    margin-left: -44px;
    margin-right: -44px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
    min-height: 314px;
    grid-gap: 10px 10px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 904px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1063px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 782px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1117px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-3 {
    font-size: 3rem;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-text-5 {
    font-size: 3rem;
    margin-left: auto;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }

  .u-section-2 .u-text-7 {
    font-size: 3rem;
    margin-left: auto;
  }

  .u-section-2 .u-text-8 {
    width: auto;
  }

  .u-section-2 .u-text-9 {
    font-size: 3rem;
    margin-left: auto;
  }

  .u-section-2 .u-text-10 {
    width: auto;
  }
} .u-section-3 {
  background-image: url("images/nn.jpg");
  background-position: 50% 50%;
  min-height: 710px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 710px;
  background-image: url("images/livestream.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 22px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 717px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  margin: 115px 0 0 80px;
}

.u-section-3 .u-group-elements-1 {
  width: 490px;
  min-height: 207px;
  height: auto;
  margin: 50px auto 0 80px;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  text-align: center;
  font-weight: 700;
  border-style: solid;
  margin: 41px auto 0 2px;
  padding: 20px 47px 20px 46px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 480px;
  }

  .u-section-3 .u-image-1 {
    min-height: 477px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 510px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 30px;
    margin-right: 668px;
  }

  .u-section-3 .u-group-elements-1 {
    width: 383px;
    margin-left: 30px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1169px;
  }

  .u-section-3 .u-image-1 {
    min-height: 685px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 16px;
  }

  .u-section-3 .u-group-elements-1 {
    width: 527px;
    min-height: 274px;
    margin-left: 113px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -2px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 981px;
  }

  .u-section-3 .u-image-1 {
    min-height: 514px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 50px;
    padding-left: 60px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-elements-1 {
    width: 100%;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -1px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 444px;
  }

  .u-section-3 .u-image-1 {
    min-height: 324px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0px;
    padding-left: 40px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-group-elements-1 {
    min-height: 326px;
    width: 100%;
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 790px;
}

.u-section-4 .u-text-1 {
  margin: 76px auto 0 468px;
}

.u-section-4 .u-list-1 {
  width: 1111px;
  margin: 41px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(20% - 0.8px) calc(20% - 0.8px) calc(20% - 0.8px) calc(20% - 0.8px) calc(20% - 0.8px);
  min-height: 554px;
  grid-gap: 1px 1px;
}

.u-section-4 .u-container-layout-1 {
  padding: 18px 0 30px;
}

.u-section-4 .u-image-1 {
  width: 169px;
  height: 113px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 18px 0 30px;
}

.u-section-4 .u-image-2 {
  width: 169px;
  height: 113px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 18px 0 30px;
}

.u-section-4 .u-image-3 {
  width: 169px;
  height: 113px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 18px 0 30px;
}

.u-section-4 .u-image-4 {
  width: 169px;
  height: 113px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-5 {
  padding: 18px 0 30px;
}

.u-section-4 .u-image-5 {
  width: 169px;
  height: 113px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-6 {
  padding: 18px 0 30px;
}

.u-section-4 .u-image-6 {
  width: 169px;
  height: 113px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-7 {
  padding: 18px 0 30px;
}

.u-section-4 .u-image-7 {
  width: 169px;
  height: 113px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-8 {
  padding: 18px 0 30px;
}

.u-section-4 .u-image-8 {
  width: 169px;
  height: 113px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-9 {
  padding: 18px 0 30px;
}

.u-section-4 .u-image-9 {
  width: 169px;
  height: 113px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-10 {
  padding: 18px 0 30px;
}

.u-section-4 .u-image-10 {
  width: 169px;
  height: 113px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-11 {
  padding: 18px 0 30px;
}

.u-section-4 .u-image-11 {
  width: 169px;
  height: 113px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-12 {
  padding: 18px 0 30px;
}

.u-section-4 .u-image-12 {
  width: 169px;
  height: 113px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-13 {
  padding: 18px 0 30px;
}

.u-section-4 .u-image-13 {
  width: 169px;
  height: 113px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-14 {
  padding: 18px 0 30px;
}

.u-section-4 .u-image-14 {
  width: 169px;
  height: 113px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-15 {
  padding: 18px 0 30px;
}

.u-section-4 .u-image-15 {
  width: 169px;
  height: 113px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 385px;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
    height: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 502px;
  }

  .u-section-4 .u-image-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-image-2 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-image-3 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-image-4 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-image-5 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-image-6 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-image-7 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-image-8 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-image-9 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-image-10 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-image-11 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-image-12 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-image-13 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-image-14 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-image-15 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 295px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 986px;
    grid-template-columns: calc(33.3333% - 0.666667px) calc(33.3333% - 0.666667px) calc(33.3333% - 0.666667px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin: 50px auto;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 0.5px) calc(50% - 0.5px);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 983px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }
} .u-section-5 {
  background-image: url("images/nn.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 640px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 580px;
}

.u-section-5 .u-container-layout-1 {
  padding: 28px 1px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 58px 0 0;
}

.u-section-5 .u-group-elements-1 {
  width: 100%;
  height: auto;
  min-height: 306px;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  margin: 0;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  text-align: center;
  font-weight: 700;
  border-style: solid;
  margin: 40px auto 0 0;
  padding: 20px 47px 20px 46px;
}

.u-section-5 .u-image-1 {
  background-image: url("images/-min.png");
  background-position: 50% 50%;
  min-height: 528px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 478px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 33px;
    margin-right: 0;
  }

  .u-section-5 .u-group-elements-1 {
    margin-top: 25px;
  }

  .u-section-5 .u-image-1 {
    min-height: 435px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-group-elements-1 {
    width: 551px;
    margin-left: 109px;
  }

  .u-section-5 .u-image-1 {
    min-height: 666px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-5 .u-group-elements-1 {
    width: 100%;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 500px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-group-elements-1 {
    width: 100%;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 315px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 864px;
}

.u-section-6 .u-text-1 {
  margin: 51px auto 0;
}

.u-section-6 .u-gallery-1 {
  height: 656px;
  margin-top: 45px;
  margin-bottom: 60px;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-6 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 10px;
}

@media (max-width: 991px) {
  .u-section-6 .u-carousel-control-1 {
    left: 25px;
    right: auto;
  }

  .u-section-6 .u-carousel-control-2 {
    right: 29px;
  }
} .u-section-7 {
  background-image: url("images/-min.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 842px;
}

.u-section-7 .u-group-1 {
  width: 820px;
  min-height: 319px;
  height: auto;
  margin: 393px auto 60px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-7 .u-text-2 {
  font-weight: 300;
  margin: 16px 76px 0;
}

.u-section-7 .u-form-1 {
  height: 47px;
  width: 624px;
  margin: 40px auto 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-7 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-7 .u-group-1 {
    width: 720px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 26px;
    margin-right: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 824px;
  }

  .u-section-7 .u-group-1 {
    min-height: 381px;
    margin-top: 326px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-form-1 {
    height: 114px;
    width: 455px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-7 .u-group-1 {
    min-height: 385px;
    margin-top: 200px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 8px;
  }

  .u-section-7 .u-form-1 {
    width: 288px;
  }
} .u-section-8 {
  background-image: url("images/nn.jpg");
  background-position: 50% 50%;
  min-height: 656px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-image-1 {
  min-height: 656px;
  background-image: url("images/0146ae4a0e9d5098ad6a3e765125f87bb0f61a1e9a158d8acc1c0a3f3c8e043bb8d0e63e8e06876ac30647e83b24eb230633ced21753d34a287ae0_1280.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-text-1 {
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  margin: 418px 0 0 1298px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 656px;
}

.u-section-8 .u-container-layout-2 {
  padding: 60px 0;
}

.u-section-8 .u-text-2 {
  margin: 58px 53px 0 30px;
}

.u-section-8 .u-text-3 {
  font-weight: 400;
  line-height: 1.2;
  font-size: 1.25rem;
  margin: 23px 30px 0;
}

.u-section-8 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  align-self: center;
  text-align: center;
  background-image: none;
  margin: 42px auto 0 30px;
  padding: 17px 56px 18px;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 426px;
  }

  .u-section-8 .u-image-1 {
    min-height: 541px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 1182px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 541px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 695px;
  }

  .u-section-8 .u-image-1 {
    min-height: 710px;
    order: 1;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
    order: 0;
  }

  .u-section-8 .u-container-layout-2 {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 60px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 518px;
  }

  .u-section-8 .u-image-1 {
    min-height: 533px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 160px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 1002px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 321px;
  }

  .u-section-8 .u-image-1 {
    min-height: 336px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 60px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 802px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-top: 50px;
  }
}